{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Gadget Galaxy </h1>
      <p>Welcome to Gadget Galaxy , where innovation meets convenience. Founded in 2023, we are passionate about technology and dedicated to bringing you the best in gadgets and electronics. Our team of tech enthusiasts carefully curates a diverse selection of products, from cutting-edge smartphones and smart home devices to gaming gear and accessories.

        At Gadget Galaxy , we prioritize quality, affordability, and customer satisfaction. We aim to simplify your tech shopping experience, providing detailed product information, expert reviews, and exceptional customer support. With secure payment options and fast, worldwide shipping, we make it easy for you to stay ahead in the tech universe. Join us on this journey through the galaxy of gadgets, where your tech dreams become a reality.</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h1> Founder </h1>
        <h5> Akshit Tyagi </h5>
        <h5>Python Developer  </h5>   
        <!-- <p><a class="btn btn-secondary" href="/media/shop/images/iphone.jpeg" role="button">View details »</a></p> -->
      </div>
      <div class="col-md-4">
        <h1> Contact </h1>
        <h5> Tyagiakshit100@gmail.com </h5>
        <h5> 8439371478 </h5>
      
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div>
      <div class="col-md-4">
        
      
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p> -->
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}