<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table padding="2">
        <tr>
            <td> Porduct ID- </td>
            <td> <input type=Productid name="Productid" size="15"> <td>
        </tr>
        <tr>
            <td> Porduct Name- </td>
            <td> <input type="Productname" name="Productname" size="15"> <td>    
        </tr>
        <tr>
            <td> Category- </td>
            <td> <input type="category" name="category" size="15"> <td> 
        </tr>
        <tr>
            <td> Sub Category- </td>
            <td> <input type="Sub category" name="Sub category" size="15"> <td>
        </tr>
        <tr>
            <td> Price  </td>
            <td> <input type="price" name="price" size="15"> <td>
        </tr>
        <tr>
            <td> Description- </td>
            <td> <input type="Description" name="Description" size="15"> <td>
        </tr>

    </table>
</body>
</html>